body {
    background-color: #ebe4a9; /* Темно-синий цвет фона */
    color: black; /* Цвет текста */
    font-family: Arial, sans-serif; /* Шрифт текста */
    margin: 0; /* Убираем отступы по умолчанию */
    padding: 0; /* Убираем отступы по умолчанию */
}
.container {
    max-width: 800px;   
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    margin-top: 0; /* Убираем отступ сверху для названия игры */
}

.page {
    text-align: center;
    margin-bottom: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.cell {
    border: 1px solid #ccc;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.cell:hover {
    background-color: #f0f0f0;
}

.message {
    margin-top: 20px;
    font-size: 1.2em;
}

.btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block; /* Изменено на inline-block */
    margin: 0 10px; /* Добавим отступы по горизонтали между кнопками */
}


.btn:hover {
    background-color: #45a049;
}

.friend-btn {
    background-color: #007bff; /* Blue color */
    margin-right: 10px;
}

.bot-btn {
    background-color: #dc3545; /* Red color */
    margin-left: 10px;
}



.bot-text {
    margin-top: 5px;
    margin-right: 20px;
    color: gray;
    text-align: right;
}

.SelectText {
    text-align: center;
}

